version: '3.6' 
services:
    redis:
        image: redis
        ports:
            - "6379:6379"
    app:
        build:
            context: ./
            dockerfile: Dockerfile
        environment: 
            - PORT=3003
            - REDIS_HOST=redis
            - REDIS_PORT=6379
        ports:
            - "3003:3003"
    worker:
        build:
            context: ./
            dockerfile: Dockerfile
        command: rq worker --url redis://redis:6379


        
